body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card_img{
  width: 200px;
  height: 300px;
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.card{
  margin: 10px 5px 50px 10px;
  text-align: center;
}
.cards{
  background-color:bisque;
  max-width: 240px;
  max-height: 500px;
  border-radius: 5%;
  border: 3px 3px 3px 3px black;
}
